* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bordered {
  border: 2px dashed black;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.container-violet {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #9792e4;
}

section {
  margin: 3rem 0;
}

/* LAYOUT */
#header {
  height: 100px;
  background-color: #0084fd;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
  list-style-type: none;
}

.nav-menu a {
  color: white;
  padding-left: 10px;
  text-decoration: none;
  opacity: 0.8;
}

.menu-icon {
  display: flex;
  height: 100px;
  align-items: center;
  color: white;
}

/* INTRO */

.intro-row {
  display: flex;
  flex-wrap: wrap;
}

.intro-card {
  background-color: #b5ddff;
  border-radius: 10px;
  padding: 15px 0 0 0;
  text-align: center;
  color: #62778a;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.card-container {
  width: 75%;
  margin: auto;
}

.card-container * {
  margin-bottom: 20px;
}

.card-container h2 {
  color: #0084fd;
}

.card-container img {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: -4px;
}

.intro-btn {
  width: 75%;
  line-height: 40px;
  background-color: #0084fd;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
}

.intro-btn * {
  margin-right: 5px;
}

.card-container i {
  font-size: 4rem;
  color: #0084fd;
}

.intro-btn > i {
  font-size: medium;
  color: white;
}

.big:first-child {
  text-align: left;
}

.card-container p {
  padding-bottom: 20px;
  line-height: 25px;
}

/* PLANNING SECTION */

.planning {
  padding: 20px 20px 60px 20px;
}

.planning img {
  width: 100%;
}

.planning * {
  margin-bottom: 20px;
  line-height: 25px;
}

.strategic-plan {
  color: white;
}

.title-plan {
  font-size: 2rem;
}

.planning-card {
  background-color: white;
  color: black;
  border-radius: 20px;
  text-align: center;
}

.btn-planning {
  width: 50px;
  height: 50px;
  background-color: #9792e4;
  border-radius: 50%;
  border: none;
  line-height: 50px;
}

/* TESTIMONIALS */

.testimonials {
  text-align: center;
}

.testimonials * {
  margin-bottom: 20px;
}

.testimonials h4 {
  font-weight: normal;
}

.testimonials h2 {
  font-size: 2rem;
  color: #9792e4;
}

.testimonials p {
  line-height: 25px;
}

.testimonial-card {
  background-color: #9792e4;
  color: white;
  border-radius: 20px;
  text-align: center;
}
.testimonial-img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.testimonial-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.testimonial-card h3 {
  padding-bottom: 30px;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  .intro-card:first-child {
    width: calc(100% / 3 * 2 - 30px);
    text-align: left;
  }

  .intro-card {
    width: calc(100% / 3 - 22px);
    margin-right: 15px;
  }

  .card-container img {
    position: relative;
    left: -12.5%;
  }
}

@media screen and (min-width: 1000px) {
  .nav-menu {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}
