* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bordered {
  border: 2px dashed black;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.row {
  margin: 0 -2rem;
}

.col {
  padding: 2rem;
}

.container-violet {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #9792e4;
  padding: 0 2rem;
}

section {
  margin: 3rem 0;
}

/* LAYOUT */
#header {
  height: 100px;
  background-color: #0084fd;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
  list-style-type: none;
}

.nav-menu a {
  color: white;
  padding-left: 10px;
  text-decoration: none;
  opacity: 0.8;
}

.menu-icon {
  display: flex;
  height: 100px;
  align-items: center;
  color: white;
}

/* INTRO */

#intro {
  margin-top: 0;
}

#intro .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.intro-card {
  background-color: #b5ddff;
  border-radius: 10px;
  padding: 15px 0 0 0;
  text-align: center;
  color: #62778a;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 20px;
}

.card-container {
  width: 90%;
  margin: auto;
}

.card-container * {
  margin-bottom: 20px;
}

.card-container h2 {
  color: #0084fd;
}

.intro-img img {
  display: inline-block;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: -46px;
}

.intro-btn {
  width: 75%;
  line-height: 40px;
  background-color: #0084fd;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
}

.intro-btn * {
  margin-right: 5px;
}

.card-container i {
  font-size: 4rem;
  color: #0084fd;
}

.intro-btn > i {
  font-size: medium;
  color: white;
}

.big:first-child {
  text-align: left;
}

.card-container p {
  padding-bottom: 20px;
  line-height: 25px;
  color: #62778a;
}

/* PLANNING SECTION */

.planning {
  padding: 20px 32px 60px 32px;
}

#planning .row {
  width: 100%;
  margin: auto;
}

.strategic-plan img {
  width: 100%;
}

.strategic-plan * {
  margin-bottom: 20px;
  line-height: 25px;
}

.strategic-plan {
  color: white;
}

.title-plan {
  font-size: 2rem;
}

.planning-card {
  background-color: white;
  color: black;
  border-radius: 50px;
  text-align: center;
}

.planning-card img {
  width: 100%;
}

.planning-card * {
  margin-bottom: 20px;
  line-height: 25px;
}

.btn-planning {
  width: 50px;
  height: 50px;
  background-color: #9792e4;
  border-radius: 50%;
  border: none;
  line-height: 50px;
}

/* TESTIMONIALS */
#testimonials .row {
  width: 100%;
  margin: auto;
}

.testimonials-title {
  text-align: center;
}

.testimonials-title * {
  margin-bottom: 20px;
  line-height: 25px;
}

.testimonial-card * {
  margin-bottom: 20px;
  line-height: 25px;
}

.testimonials-title h4 {
  font-weight: normal;
}

.testimonials-title h2 {
  font-size: 2rem;
  color: #9792e4;
}

.testimonial-card {
  background-color: #9792e4;
  color: white;
  border-radius: 20px;
  text-align: center;
}
.circle-img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 20px;
}
.circle-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.testimonial-card h3 {
  padding-bottom: 30px;
}

/* BENEFITS */

#benefits .row {
  width: 100%;
  margin: auto;
}

#benefits h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.benefits-card {
  background-color: white;
  color: #9792e4;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
}

.benefits-card * {
  margin-bottom: 20px;
  line-height: 25px;
}

#benefits h4 {
  font-size: 3rem;
}

#benefits p {
  color: #62778a;
}

.benefits-btn {
  width: 50%;
  line-height: 40px;
  background-color: #9792e4;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
/* RESPONSIVE */

@media screen and (min-width: 768px) {
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
    text-align: left;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  .big {
    display: flex;
    flex-direction: column;
  }

  .testimonial-card {
    display: flex;
    align-items: flex-end;
  }

  .testimonial-img {
    width: calc(100% / 3);
  }

  .testimonial-text {
    width: calc(100% / 3 * 2);
  }
}

@media screen and (min-width: 1000px) {
  .nav-menu {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .big {
    display: flex;
    flex-direction: row;
  }

  .intro-text {
    width: 50%;
  }

  .intro-img {
    width: 50%;
  }

  #planning .row {
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
  }

  #planning .col:first-child {
    width: 70%;
  }

  #planning .col:last-child {
    width: 30%;
    display: flex;
    align-items: flex-end;
  }

  .testimonial-card {
    display: flex;
    align-items: flex-end;
  }

  .testimonial-img {
    width: calc(100% / 3);
  }

  .testimonial-text {
    width: calc(100% / 3 * 2);
  }
}
